{% extends 'main/base.html' %}
{% block title %}Ranking{% endblock %}

{% block content %}
<div>
    <form method="post">
        {% csrf_token %}
        <label for="sort_by">Sortuj wg:</label>
        <select id="sort_by" name="sort_by"> {% comment %} onchange="this.form.submit()" {% endcomment %}
            <option value="-Score">---------</option>
            <option value="PlayerName">Imienia</option>
            <option value="Score">Wyniku rosnąco</option>
            <option value="-Score">Wyniku malejąco</option>
        </select>
        {% if user.is_authenticated %}
            <label for="filter_by">Pokaż tylko własne</label>
            <input type="checkbox" id="filter_by" name="filter_by"> 
        {% endif %}
        <input type="submit" value="Zatwierdź">
    </form>
</div>

{% if rk %}
    <form method="post">
        {% csrf_token %}
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Imię</th>
                    <th scope="col">Wynik</th>
                    <th scope="col">{% if user.is_authenticated %}<button type="submit" class="btn btn-danger" name="delete_selected">Usuń zaznaczone</button>{% endif %}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in rk %}
                    <tr>
                        <td>{% if object.PlayerName %}{{ object.PlayerName }} {% else %} Anonim {% endif %}</td>
                        <td>{{ object.Score }}</td>
                        <td>{% if user.is_authenticated %}{% if object.PlayerName.pk == request.user.pk %} <input type="checkbox" name="delete_record" value="{{ object.pk }}"> {% endif %}{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% else %}
    <p>Brak danych w bazie.</p>
{% endif %} 

{% endblock content %}